 html {
    line-height: 1.15; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
  }
  
  body {
    margin: 0;
  }
  
  main {
    display: block;
  }
  
  a{
    text-decoration:none ;
    color: black;
    margin: 0;
    padding: 0;
  }
