body {
    font-family: 'Raleway', sans-serif;
}

* {
    box-sizing: border-box;
    text-decoration: none;

}

main,
header,
.footer {
    max-width: 1440px;
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
}



/*header*/
header {
    display: flex;
    justify-content: space-between;
}

/*navigation*/
nav {
    padding-top: 22px;
    margin: 10px;
    text-align: right;
    padding-right: 30px;
}

.nav {
    padding: 15px;
    padding-top: 30px;
    color: black;
    border-top: 3px solid white;
}

.nav:hover {
    border-top: 10px solid #0065FC;
    color: #0065FC;
}


/*logo*/
.logo {
    margin-left: 20px;
    width: 100px;
}

/*texte intro*/
h1 {
    font-weight: bold;
}

/*search*/
.search {
    border: #F2F2F2 2px solid;
    border-radius: 10px;
    width: fit-content;
    height: 50px;
    display: flex;
    background-color: #F2F2F2;
}

.searchLogo {
    margin: 10px;
    justify-content: center;
    padding-top: 5px;
    padding-right: 5px;
}

.searchButton {
    background-color: #0065FC;
    border: none;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    color: white;
    padding: 10px;
    font-weight: bold;
    font-size: large;
    margin: 0;
}

.searchButton_loupe {
    display: none;
}

.searchButton:hover {
    background-color: #004CBD;
}

.searchTxt {
    border: none;
    margin: 0;
    padding-left: 10px;
    font-weight: bold;
}

/*filtres*/
/*all div*/
#filter {
    width: 80%;
    display: flex;
    flex-direction: row;
    margin: 10px;
    overflow: visible;
    flex-wrap: wrap;
    overflow: visible;
}

/* section title*/
#filter p {
    font-weight: bolder;
}

/*link section*/
#filter a {
    height: 48px;
    padding-right: 10px;
    display: flex;
    align-items: baseline;
    border: 2px solid #F2F2F2;
    border-left: none;
    border-radius: 50px;
    font-weight: bold;
    color: black;
    margin-left: 20px;
}

/* filter icons*/
#filter a i {
    display: flex;
    justify-content: center;
    align-items: baseline;
    margin: 0;
    background-color: #DEEBFF;
    height: 45px;
    width: 45px;
    padding: 15px;
    border-radius: 100%;
    color: #0065FC;
}

#filter span {
    margin-left: 5px;
}

/*filter animation*/
#filter a:hover {
    background-color: #F2F2F2;
}



/*main*/

/*price*/
.price {
    font-weight: bold;
}

/*resultat recherche*/
#resultNumber {
    display: flex;
    align-items: baseline;
}

#resultNumber i {
    width: 30px;
    height: 30px;
    color: #0065FC;
    border: #F2F2F2 solid 2px;
    border-radius: 100%;
    padding: 5px;
    padding-left: 10px;
}

.resultTxt {
    font-weight: normal;
}


/*hebergement*/
/*all rent section*/
.rentSearch {
    display: flex;
    padding: 20px;
}

/*all section*/
.rentSection {
    background-color: #F2F2F2;
    width: 60%;
    padding: 30px;
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.rentSection>h2,
.rentSection>.showMore {
    width: 100%;
}

#hebergement {
    margin-left: 10px;
}


/*one section*/
.rent {
    display: block;
    height: 200px;
    background-color: white;
    width: 220px;
    border-radius: 20px;
    box-shadow: 11px 13px 42px -9px rgba(0, 0, 0, 0.32);
    padding: 7px;
    margin: 10px;
    margin-bottom: 30px;
}

.rent:hover {
    box-shadow: 11px 13px 42px -9px rgba(0, 0, 0, 0.54);
}

.rentContent {

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 10px;
    padding-top: 5px;
}

.rentTitle {
    font-weight: bold;
    font-size: 100%;
    margin-bottom: 0px;
    margin-top: 0px;
}


.rent img {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 100%;
    height: 100px;
    object-fit: cover;
}


/*stars*/
.rentScore {
    color: #0065FC;
}

.null {
    color: lightgray;
}

.rent i {
    padding: 0;
    margin: 0;
}

/*show more*/
.showMore {
    font-weight: bolder;
    justify-content: left;
    padding: 20px;
}

.showMore:hover {
    text-decoration: underline;
}

/*most popular*/
/*most popular section*/
.popular {
    width: 35%;
    background-color: #F2F2F2;
    border-radius: 20px;
    margin-left: 40px;
    padding: 22px;

}

/*section title*/
.popTitle {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-left: 30px;
    margin-right: 30px;
}

.popTitle i {
    font-size: x-large;
}

/*one rent popular*/
.rentPop {
    box-shadow: 11px 13px 42px -9px rgba(0, 0, 0, 0.32);
    height: 160px;
    background-color: white;
    border-radius: 20px;
    display: flex;
    padding: 3px;
    margin: 30px;
}

.rentPop:hover {
    box-shadow: 11px 13px 42px -9px rgba(0, 0, 0, 0.54);
}

.rentPop a {
    width: fit-content;
}

/*img popular rent*/
.popImg {
    width: 250px;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    overflow: hidden;
}


/*rent infos*/
.popContent {
    margin: 0;
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.popScore {

    color: #0065FC;
}

/*activity*/
/*large activity section*/
#activite {
    margin-left: 30px;
}

.activityCard {
    padding: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.activityLarge {
    margin-right: 10px;
    width: 25%;
    border-radius: 20px;
    box-shadow: 11px 13px 42px -9px rgba(0, 0, 0, 0.32);
}

.activityLarge:hover {
    box-shadow: 11px 13px 42px -9px rgba(0, 0, 0, 0.54);
}

.activiteImgLarge {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 100%;
    height: 500px;
    object-fit: cover;
}

.activityTitle {
    padding-left: 20px;
}

/*small activity section*/
.flexActivity {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.activitySmall {
    border-radius: 20px;
    box-shadow: 11px 13px 42px -9px rgba(0, 0, 0, 0.32);
}

.activitySmall:hover {
    box-shadow: 11px 13px 42px -9px rgba(0, 0, 0, 0.54);
}

.activiteImgSmall {
    height: 200px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 100%;
    object-fit: cover;
}

.activityTitle {
    font-weight: 900;
    font-size: 100%;
}


/*footer*/
footer {
    padding: 20px;
    background-color: #F2F2F2;
    margin-top: 20px;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 300px;
}

.footer a:hover {
    text-decoration: underline;
}

.footerLink {
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 768px) and (max-width:992px) {

    /*filter*/
    #filter {
        width: 100%;
    }

    /*main*/
    main {
        padding: 0;
    }

    /*align top section*/
    .section_top {
        padding: 10px;
    }

    #resultNumber {
        margin-left: 20px;
    }

    /*all rent*/
    #hebergement {
        margin-left: 15px;
    }

    .rentSearch {
        flex-direction: column-reverse;
        padding: 0;
    }

    .rentSection {
        width: 100%;
        margin-top: 10px;
        background-color: white;
    }

    .rent {
        width: 100%;
        height: 350px;
    }

    .rentSection img {
        height: 200px;
    }

    .rentContent {
        font-size: x-large;
    }

    .rentScore {
        padding-top: 20px;
    }

    /*popular rent*/
    .popTitle {
        margin-left: 30px;
        justify-content: space-between;
        width: 94%;
    }

    .popTitle i {
        margin-right: 25px;
    }

    .rentPop {
        font-size: x-large;
    }

    .popular {
        padding: 0;
        width: 100%;
        margin: 0;
        border-radius: 0;
    }

    .popScore {
        padding-top: 10px;
    }

    .popImg {
        width: 450px;
    }

    /*all activity*/
    .activityCard {
        flex-direction: column;
    }

    .activityLarge,
    .activitySmall {
        width: 100%;
        margin-bottom: 20px;
    }

    .activiteImgLarge {
        height: 200px;
    }

    /*footer*/
    .footer {
        padding: 0;
        justify-content: space-between;
    }

}


@media screen and (max-width:767px) {

    /*show search icon*/
    .searchButton_texte {
        display: none;
    }

    .searchButton_loupe {
        display: block;
    }

    /*header*/
    header {
        flex-direction: column;
        justify-content: center;
        padding: 0;
    }

    .logo {
        margin: auto;
        margin-bottom: 20px;
    }

    nav {
        width: 100%;
        text-align: center;
        display: flex;
        justify-content: space-around;
        padding: 0;
        margin: 0;
    }

    .nav {
        padding: 0;
        padding-top: 10px;
        padding-bottom: 5px;
        border-bottom: #F2F2F2 solid 2px;
        width: 50%;
    }

    .nav:hover {
        border-bottom: solid 2px #0065FC;
        border-top: none;
    }

    /*search*/
    .search {
        background-color: white;
        border: 2px solid #F2F2F2;
        border-radius: 10px;
        margin: auto;
    }

    .searchTxt {
        width: 250px;
    }

    .searchLogo {
        display: block;
        margin: 0;
        padding: 0;
        width: 50px;
        background-color: #F2F2F2;
        text-align: center;
        padding-top: 15px;
    }

    .searchButton_loupe {
        width: 50px;
        border-radius: 10px;
    }

    /*filter*/
    #filter {
        width: 100%;
        justify-content: space-between;

    }

    #filter p {
        width: 100%;
    }

    #filter a {
        margin-bottom: 10px;
        margin-right: 10px;
        margin-left: 0;
    }

    /*search result*/
    #resultNumber {
        margin-left: 20px;
    }

    #resultNumber i {
        margin-right: 10px;

    }

    /*main*/
    main {
        padding: 0;
    }

    /*align top section*/
    .section_top {
        padding: 10px;
        padding-top: 0;
    }

    #resultNumber {
        margin-left: 10px;
    }

    /*all rent*/
    #hebergement {
        margin-left: 15px;
    }

    .rentSearch {
        flex-direction: column-reverse;
        padding: 0;
    }

    .rentSection {
        width: 100%;
        padding: 0;
        background-color: white;
    }

    .rent {
        width: 100%;
        height: 280px;
        margin: 5px;
        margin-bottom: 10px;
    }

    .rentSection img {
        height: 130px;
    }

    .rentContent {
        font-size: x-large;
    }

    .rentScore {
        padding-top: 20px;
    }

    /*popular rent*/
    .popTitle {
        margin-left: 22px;
        margin-right: 22px;
        justify-content: space-between;
    }

    .rentPop {
        font-size: x-large;
    }

    .popular {
        padding: 0;
        width: 100%;
        margin: 0;
        border-radius: 0;
    }

    .popContent {
        font-size: medium;
    }

    .popScore {
        padding-top: 10px;
    }

    /*all activity*/

    #activite {
        padding-left: 10px;
        margin: 0;
    }

    .activityCard {
        flex-direction: column;
        padding: 5px;
    }

    .activityLarge,
    .activitySmall {
        width: 100%;
        margin-bottom: 20px;
    }

    .activiteImgLarge,
    .activiteImgSmall {
        height: 150px;
    }

    /*footer*/
    .footer {
        padding: 0;
        flex-direction: column;
    }

    .footerLink {
        margin-bottom: 10px;
    }

}